<div class="wrapper">
  <div>
    <div class="main--header">
      <div class="div--logo">
        <a href="#"><i class="fab fa-android logo"></i></a>
      </div>
      <div class="menu">
        <a href="">Stays</a>
        <a href="">Host a home</a>
        <a href="">Help</a>
        <a href="">Sign Up</a>
        <a href="">Log In</a>
      </div>
    </div>
  </div>
</div>

<div class="my--container">
  <div class="all-space--container">

  </div>
  <div class="space--container">
    <%= image_tag("background.jpeg", :alt => "", :class=>"space--image")  %>
    <div>
      <p>name of spaceship</p>
      <p>rating</p>
    </div>
  </div>

</div>

<h1>CSS elements brought to you by Alex</h1>
<br><br><br>
<h2>h2 section name</h2>
<a href="#" class= "button">Sign-up</a>
<br><br><br>
<a href="#">Link</a>
<br><br><br>
<p>This is a text paragraph, use to tell interesting stuff to our users so they can book. If they book, we make money, if we make money, we buy more spaceships. </p>

<div class="card">
  <p class="card-title">Nebuchadnezzar</p>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-infos">
    <p>Zion area</p>
    <p>4.3<span class="fa fa-star checked"></span></p>
  </div>
</div>

<br><br><br>

<div class="review">
  <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
  <div class="review-content">
    <div class="review-infos">
      <p><small>The Alien</small></p>
      <p><small> at </small></p>
      <p><small>20/01/2019 at 5:47pm</small></p>
    </div>
    <p>This is a text paragraph, use to tell interesting stuff to our users so they can book. If they book, we make money, if we make money, we buy more spaceships.</p>
  </div>
</div>





<footer>
</footer>




