<div class="wrapper">
  <header>
    <div class="div--logo">
      <a href="#"><img src="" alt=""></a>
    </div>
    <div>
      <a href="">Stays</a>
      <a href="">Host a home</a>
      <a href="">Help</a>
      <a href="">Sign Up</a>
      <a href="">Log In</a>
    </div>
  </header>

</div>












<h1>You are here</h1>


<% @ships.each do |el| %>
  <p><%= el.name %></p>
<% end %>


