.card {
  overflow: hidden;
  height: 224px;
  width: 240px;
  border: 1px solid $white;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: $black;
}

.card > img {
  height: 120px;
  width: 220px;
  justify-content: space-around;
}

.card-title {
  margin: 12px;
  line-height: 24px;
  text-align: center;
}

.card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-infos > p {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

