.h1 {
  font-size: 32px;
  color: $green;
}

.h2 {
  font-size: 24px;
  color: $green;
}


.a {
  font-size: 24px;
  color: $white;
  text-decoration: underline;
}

.p {
  font-size: 12px;
  color: $green;
}
